<!doctype html>
<html lang="en">
  <head>
    <title>Cart Items</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/707861f521.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css -->
    <!-- <link rel='stylesheet' href='/stylesheets/ListSupplement.css' /> -->
  </head>
  <body>

    <!-- Embedding navbar from partials folder -->
    <%-include("./Partials/NavBar"); %>
    <% var total = 0; %> 
    <div class="container-fluid">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">PRICE( PKR )</th>
            <th scope="col">SERVINGS</th>
            <th scope="col">DISCOUNT</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i<cart.length; i++)
          {%>
            <% total +=  Number(cart[i].Price); %>
            <tr>
              <th scope="row"><%=i+1%></th>
              <td><%=cart[i].Name%></td>
              <td><%=cart[i].Price%></td>
              <td><%=cart[i].Servings%></td>
              <td><%=cart[i].Discount%></td>
              <td> 
                <a class="btn btn-warning btn-sm mr-2" href="/supplement/cart/remove/<%=cart[i]._id%>">Remove</a>
              </td> 
            </tr>
          <% }%>
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td><%=total%> </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- Embedding footer from partials folder -->
    <%-include("./Partials/Footer"); %>
  </body>
</html>